{% if mikrotik_ipsec['delete_all_peers'] == true %}
# Delete ALL peers
/ip ipsec peer remove [/ip ipsec peer find]
{% endif %}

{% if mikrotik_ipsec['peers'][0] is defined %}
# Delete not defined peers
/ip ipsec peer remove [/ip ipsec peer find where !( \
{% for peer in mikrotik_ipsec['peers'] %}
{% if not loop.first %} or {% endif %} (name="Ansible managed: [{{ peer['name'] }}]")  \
{% endfor %}
)]

# End delete not defined peers
{% endif %}
