
{% if mikrotik_ipsec['peers'][0] is defined %}
# Create new peers
{% for peer in mikrotik_ipsec['peers'] %}
:if ( [/ip ipsec peer find where ( name="{{ peer['name'] }}" )] = "" ) do={
  # Create a new peer {{ peer['name'] }}
  /ip ipsec peer add name="{{ peer['name'] }}"
}
# Set parameters for peer {{ peer['name'] }}
/ip ipsec peer set [/ip ipsec peer find name="{{ peer['name'] }}"] \
name="{{ peer['name'] }}" \
comment="Ansible managed: [{{ peer['comment'] }}]" \
disabled="{{ peer['disabled'] | bool | ternary('yes', 'no') }}" \
{% if peer['copy-from'] is defined %} and copy-from="{{ peer['copy-from'] }}" {% endif %}
{% if peer['exchange-mode'] is defined %} exchange-mode="{{ peer['exchange-mode'] }}" {% endif %}
{% if peer['local-address'] is defined %} local-address="{{ peer['local-address'] }}" {% endif %}
{% if peer['passive'] is defined %} passive="{{ peer['passive']  | bool | ternary('yes', 'no') }}" {% endif %}
{% if peer['port'] is defined %} port="{{ peer['port'] }}" {% endif %}
{% if peer['profile'] is defined %} profile="Ansible managed: [{{ peer['profile'] }}]" {% endif %}
{% if peer['send-initial-contact'] is defined %} send-initial-contact="{{ peer['send-initial-contact'] | bool | ternary('yes', 'no') }}" {% endif %}

# End set parameters for peer {{ peer['name'] }}
{% endfor %}

# End creating new peers
{% endif %}
